html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.darkgreen-color-book {
    color: darkgreen;
    font-weight: bolder;
}


.index-img-container img {
    width: 320px;
    height: 300px;
    object-fit: scale-down;
    border: none;
}
